.blog-form {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.blog-form h2 {
  margin: 0 0 1rem;
  font-size: 1.5rem;
}

.blog-form input,
.blog-form textarea {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  font-family: inherit;
  font-size: 1rem;
}

.blog-form textarea {
  height: 8rem;
}

.blog-form button {
  width: fit-content;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.input-error {
  border: 2px solid red;
}

.error {
  color: red;
  font-weight: bold;
  margin-top: 0.5rem;
}
