.blog-container {
  display: flex;
  align-items: flex-start; /* clave: alinear arriba */
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
  box-sizing: border-box;
}


.blog-list {
  width: 66.66%;
  box-sizing: border-box;

}

.blog-form {
  width: 33.33%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


@media (max-width: 768px) {
  .blog-container {
    flex-direction: column;
    padding: 1rem;
  }

  .blog-list,
  .blog-form {
    width: 100%;
  }

  .blog-form {
    margin-top: 2rem; /* Separación visual entre lista y formulario */
  }
}
